<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206897169781-182rmicrkc5vivg6b99ood96e1fjkvbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206897169781-182rmicrkc5vivg6b99ood96e1fjkvbt</string>
	<key>API_KEY</key>
	<string>AIzaSyARyZOy-3vzT9QmL31VAO7CGQCEGSP2ZfM</string>
	<key>GCM_SENDER_ID</key>
	<string>206897169781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diagora</string>
	<key>PROJECT_ID</key>
	<string>diagora---mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>diagora---mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206897169781:ios:c01a8d691c094984ddff3c</string>
</dict>
</plist>